{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Contact details (optional) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/business-returns/SL-02-05-work-type"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/SL-02-06-check-answers" method="post">

        <h1 class="govuk-heading-l">
          What is the email address for {trust name}?
        </h1>

       
        {{ govukInput({
          

          hint: {
            text: "HMRC will never use this email address to contact this worker"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

       

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
