{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Which tax year do you want to view verification requests from? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

        {{ govukRadios({
          name: "whichTaxYear",
          fieldset: {
            legend: {
              text: "Which tax year do you want to view verification requests from?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "2026 to 2027",
              text: "2026 to 2027 (current tax year)"
            },
            {
              value: "2025 to 2026",
              text: "2025 to 2026"
            },
            {
              value: "2024 to 2025",
              text: "2024 to 2025"
            },
            {
              value: "2023 to 2024",
              text: "2023 to 2024"
            },
            {
              divider: "or"
            },
            {
              value: "all",
              text: "View all tax years"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      

    </div>
  </div>

{% endblock %}