{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Do you have a National Insurance number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/business-returns/SL-02-01-date-of-birth"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/individual-nino-route" method="post">

        {{ govukRadios({
          name: "has-nino",
          fieldset: {
            legend: {
              text: "Do you know the National Insurance number for {nominated partner name}?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This information will be used to verify them as a worker"
          },
          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}