{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Do you want to add contact details? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/routing-handler" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "addContactDetails",
          fieldset: {
            legend: {
              text: "Do you want to add contact details for {Partnership name}?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can add contact details if you want to. HMRC will not use these details to contact the partnership."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}