{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Do you want to add an address for {worker name}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" onsubmit="return routeAddress()">

        {{ govukRadios({
          name: "add-address",
          fieldset: {
            legend: {
              text: "Do you want to add an address for {worker name}?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can add this information later if you prefer"         },
          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <script>
  function routeAddress() {
    const selected = document.querySelector('input[name="add-address"]:checked');

    if (!selected) return false;

    window.location.href = selected.value === 'yes'
      ? 'AS-I-ALS-Country'
      : 'AS-Contact-I';

    return false;
  }
</script>

{% endblock %}
