{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Review the address for {trust name} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Review the address for {trust name}
      </h1>

      <p class="govuk-body">
        9c Cobalt<br>
        Newcastle<br>
        NE1 1AS<br>
        United Kingdom
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="AS-T-ALS-Address-enter">
          Edit this address
        </a>
      </p>

      <form action="AS-Contact-T" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}