//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.registration-side-navigation {
  border-left: 4px solid $govuk-border-colour;
  padding-left: 20px;
  margin-bottom: 40px;

  li {
    margin-bottom: 15px;
  }

  [aria-current="page"] {
    font-weight: bold;
  }
}

@media print {
  .registration-side-navigation,
  .registration-summary-page .govuk-button-group {
    display: none;
  }
}

.business-tax-account-header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.business-tax-account-header__service-name {
  @include govuk-font(24, $weight: bold);

  grid-column: 2;
  text-align: center;

  &:link,
  &:visited {
    color: govuk-colour("white");
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include govuk-focused-text;
  }
}

.business-tax-account-navigation {
  border-bottom: 1px solid $govuk-border-colour;
  padding: 20px 0;
}

.business-tax-account-navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 40px;
  margin: 0;

  li {
    margin: 0;
  }

  a:not(:focus) {
    color: $govuk-text-colour;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.business-tax-account-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 40.0625em) {
  .business-tax-account-header__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .business-tax-account-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.filing-a-return {
  @import "../filing-a-return/sass/application";
}

.business-returns {
  @import "../business-returns/sass/application";
}
