{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Do you have a works reference number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/business-returns/SL-02-05-contact-details"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/individual-works-ref-route" method="post">

        {{ govukRadios({
          name: "has-works-ref",
          fieldset: {
            legend: {
              text: "Does {John Smith Ltd} have a works reference number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is the reference number used to identify your worker's work or project. It can contain letters and numbers"
          },
          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}