{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
 Are you submitting an inactivity request?– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Submit inactivity request
      </h1>
      <p class="">Tell HMRC that you are not expecting to pay any of your subcontractors in the next six months.</p>
      <p class="">If your request is accepted you will not need to submit a monthly return for this subcontractor.</p>
      <div class="govuk-inset-text">
        You must let HMRC know when you start to pay subcontractors again by phoning the CIS Helpline. Telephone 0300 200 3210 
      </div>
      <form class="form" action="/filing-a-return/path/of/next/page" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "areYouSubmittingAnInactivityRequest?",
          fieldset: {
            legend: {
              text: "Are you submitting an inactivity request?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
