{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Does {company name} have a company registration number? – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "partnership-partner-details-ni.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="partnership-partner-details-crn.html" method="post" novalidate>

        {{ govukRadios({
          name: "has-crn",
          fieldset: {
            legend: {
              text: "Does {company name} have a company registration number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This information will be used to verify the company as a worker"
          },

          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
