{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Check your answers before submitting your verification request – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <h1 class="govuk-heading-l">Check your answers before submitting your verification request</h1>

      <h2 class="govuk-heading-m">Workers to verify</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          

          {


            key: {
              text: "Names"
            },
            value: {
          html: '
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Brody, Martin</li>
                    <li>Hooper And Associates</li>
                    <li>Quint Transportation</li>
                    <li>The Kintner Group</li>
                  </ul>
                '
                    
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          }



        ]
      }) }}

     


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          

          {


            key: {
              text: "Do you want confirmation by email?"
            },
            value: {
              html:   "
                      Yes
                    "
                    
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },


          
          


 



  

  {
              key: {
                text: "Email address"
              },
              value: {
                text: "{email address}"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "add UTR"
                  }
                ]
              }
            }

        ]
      }) }}




      

      <form action="#" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm and submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}