{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Verify your workers – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="workers-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which workers do you want to reverify?
              </h1>
            </legend>

            <div id="workers-hint" class="govuk-hint govuk-!-margin-bottom-6">
              Select the existing workers you want to include in this verification request
            </div>

             <p id="results-count" class="govuk-body govuk-!-margin-bottom-3">
              Showing 1 to 6 of 14 results
            </p>


            <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-4">
              <div class="govuk-checkboxes__item">
                <!-- 
                Select all checbox option
                <input
                  class="govuk-checkboxes__input"
                  id="select-all-workers"
                  name="select-all-workers"
                  type="checkbox"
                  value="all">
                <label class="govuk-label govuk-checkboxes__label" for="select-all-workers">
                  Select all workers
                </label> -->
              </div>
            </div>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Include</th>
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">UTR</th>
                  <th scope="col" class="govuk-table__header">Verified</th>
                  <th scope="col" class="govuk-table__header">Verification number</th>
                  <th scope="col" class="govuk-table__header">Tax treatment</th>
                  <th scope="col" class="govuk-table__header">Date added</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">

<tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="sub-2"
                          name="select-workers"
                          type="checkbox"
                          value="grant-alan">
                        <label class="govuk-label govuk-checkboxes__label" for="sub-2">
                          <span class="govuk-visually-hidden">Select Alan Grant</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Grant, Alan</td>
                  <td class="govuk-table__cell">0991272528</td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">V0001256246</td>
                  <td class="govuk-table__cell">Standard rate</td>
                  <td class="govuk-table__cell">11 May 2020</td>
                </tr>

<tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="sub-4"
                          name="select-workers"
                          type="checkbox"
                          value="hammond-house">
                        <label class="govuk-label govuk-checkboxes__label" for="sub-4">
                          <span class="govuk-visually-hidden">Select Hammond House</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Hammond House</td>
                  <td class="govuk-table__cell">2904743750</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">V0001217702</td>
                  <td class="govuk-table__cell">Gross</td>
                  <td class="govuk-table__cell">1 Oct 2025</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="sub-1"
                          name="select-workers"
                          type="checkbox"
                          value="ingen-research">
                        <label class="govuk-label govuk-checkboxes__label" for="sub-1">
                          <span class="govuk-visually-hidden">Select InGen Research</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell">InGen Research</td>
                  <td class="govuk-table__cell">9347488729</td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">V0005617876</td>
                  <td class="govuk-table__cell">Standard rate</td>
                  <td class="govuk-table__cell">1 Mar 2020</td>
                </tr>

                

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="sub-3"
                          name="select-workers"
                          type="checkbox"
                          value="malcolm-sattler">
                        <label class="govuk-label govuk-checkboxes__label" for="sub-3">
                          <span class="govuk-visually-hidden">Select Malcolm And Sattler</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Malcolm And Sattler</td>
                  <td class="govuk-table__cell">0074742762</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">V0004635231</td>
                  <td class="govuk-table__cell">Higher rate</td>
                  <td class="govuk-table__cell">1 Oct 2025</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="sub-2"
                          name="select-workers"
                          type="checkbox"
                          value="grant-alan">
                        <label class="govuk-label govuk-checkboxes__label" for="sub-2">
                          <span class="govuk-visually-hidden">Select Alan Grant</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Sattler, Ellie</td>
                  <td class="govuk-table__cell">0841272420</td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">V0001257276</td>
                  <td class="govuk-table__cell">Standard rate</td>
                  <td class="govuk-table__cell">22 May 2020</td>
                </tr>


                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="sub-2"
                          name="select-workers"
                          type="checkbox"
                          value="grant-alan">
                        <label class="govuk-label govuk-checkboxes__label" for="sub-2">
                          <span class="govuk-visually-hidden">Select Alan Grant</span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Wu Genetics</td>
                  <td class="govuk-table__cell">0981273228</td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">V0004356246</td>
                  <td class="govuk-table__cell">Standard rate</td>
                  <td class="govuk-table__cell">07 June 2020</td>
                </tr>


                
              </tbody>
            </table>

          </fieldset>
        </div>


        {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              current: true,
              href: "#"
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}