{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Does {nominated partner name} have a Company Registration Number? – GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="#" method="post" novalidate>

        {{ govukRadios({
          name: "has-crn",
          fieldset: {
            legend: {
              text: "Does {nominated partner name} have a company registration number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This only applies if they are a corporate partner or director of a company.  This information will be used to verify them as a worker."
          },
          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <script>
        document.querySelector(".form").addEventListener("submit", function (event) {
          event.preventDefault()

          const selected = document.querySelector('input[name="has-crn"]:checked')
          if (!selected) return

          const destinations = {
            yes: "partnership-partner-details-crn-sl0205l-ptn",
            no: "SL0205-H-ptn"
          }

          window.location.href = destinations[selected.value]
        })
      </script>


    </div>
  </div>
{% endblock %}
