{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  What is the partnership's Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="partnership-has-nino-sl0205ka-ptn" method="post">
        <h1 class="govuk-heading-l">Self Assessment Unique Taxpayer Reference (UTR)</h1>

<p class="govuk-body">The UTR will be on tax returns and other documents from HMRC. It might be called 'reference', 'UTR', or 'official use'.</p>

<p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/find-utr-number">Get more help to find a UTR (opens in new tab)</a></p>

        {{ govukInput({
          label: {
            text: "What is the Self Assessment UTR for {nominated partner name}?",
            isPageHeading: true,
            classes: "govuk-label--m"
          },
          hint: {
            text: "A UTR is a 10 digit number"
          },
          id: "utr",
          name: "utr",
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
