{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  What is the worker's Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="#" method="post" novalidate>

        {{ govukRadios({
          name: "has-utr",
          fieldset: {
            legend: {
              text: "Do you know the Unique Taxpayer Reference for {partnership name}?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This information will be used to verify the partnership as a worker"
          },
          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

       <script>
            document.querySelector(".form").addEventListener("submit", function (event) {
              event.preventDefault()

              const selected = document.querySelector('input[name="has-utr"]:checked')
              if (!selected) return

              const destinations = {
                yes: "SL0201-E-ptn",
                no: "partnership-nominated-partner-name-sl0205b-ptn"
              }

              window.location.href = destinations[selected.value]
            })
        </script>

    </div>
  </div>

{% endblock %}