{% extends "filing-a-return/business-returns/layouts/main-with-nav-cards.html" %}
{% import "filing-a-return/business-returns/macros/custom/card-template.njk" as card %}


{% block pageTitle %}
  Manage your BRS workers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              If you have entered a tax month incorrectly and it is in progress, you cannot change it.
            </p>
            <p class="govuk-body">
              xxxxxYou must start a new return for the correct period and then delete the one that is incorrect.
            </p>     
          </div>
        </div> -->
        <h1 class="govuk-heading-l">
          Manage your BRS workers
        </h1>


        <p class="govuk-body">Workers must be verified before you can include them on a monthly return. This will ensure that deductions are made at the correct rate.</p>

        {{ govukInsetText({
            html: 'You will need to use <a href="#" class="govuk-link">commercial BRS software</a> to submit any verification requests that include more than 50 workers.'
          }) }}

          </div>
          </div>
    
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      
    <div class="flex-container govuk-grid-row">
    
   {{ card.card(
  cardUrl="../user-journey-1/verify-select-worker-checkbox-VF-03",
  headingLevel="h3",
  heading="Add new workers",
  linkContent="Create a record for any new worker you want to pay."
) }}


  {{ card.card(
    cardUrl="#",
    headingLevel="h3",
    heading="Verify your workers",
    linkContent="Make sure your workers have the correct deductions applied to their payments.",
    cardId="fileNilReturnCard"
  ) }}

  {{ card.card(
    cardUrl="#",
    headingLevel="h3",
    heading="View your workers",
    linkContent="Edit the details of any worker in your list.",
    cardId="amendSubmittedReturnCard"
  ) }}


  </div>  <!-- flex container -->


  </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->
  
</div>


{% endblock %}