{% extends "filing-a-return/business-returns/layouts/main-with-nav-cards.html" %}
{% import "filing-a-return/business-returns/macros/custom/card-template.njk" as card %}

{% set pageName = "BRS returns" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {# <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          If you have entered a tax month incorrectly and it is in progress, you cannot change it.
        </p>
        <p class="govuk-body">
          You must start a new return for the correct period and then delete the one that is incorrect.
        </p>
      </div>
    </div> #}

    <h1 class="govuk-heading-l">
      <!--<span class="govuk-caption-l">ABC Business Ltd</span>-->
      Manage your BRS return
    </h1>

    <!-- <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you have entered a tax month incorrectly and it is in In progress, you cannot change it. You must start a new return for the correct period and then delete the one that is incorrect.
      </strong>
    </div> -->

    {# <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="#">File a monthly return</a>
        </h3>
        <p class="govuk-body">File a BRS return for any workers paid in a return period.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="#">File a nil return</a>
        </h3>
        <p class="govuk-body">File a nil return when no payments were made to workers in a return period.
</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="mr-ar-01-view-tax-year-submission-history.html">Amend a submitted return</a>
        </h3>
        <p class="govuk-body">Change the information you entered when you submitted a monthly or nil return.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="#">View a submitted return</a>
        </h3>
        <p class="govuk-body">View monthly or nil returns you submitted.</p>
      </div>
    </div> #}

    <div class="flex-container flex-container--two-across">

      {{ card.card(
        cardUrl="#",
        headingLevel="h3",
        heading="File a monthly return",
        linkContent="File a BRS return for any workers paid in a return period.",
        cardId="fileMonthlyReturnCard"
      ) }}

      {{ card.card(
        cardUrl="#",
        headingLevel="h3",
        heading="File nil returns and inactivity requests",
        linkContent="File a nil return when no payments were made to workers in a return period.",
        cardId="fileNilReturnCard"
      ) }}

      {# {{ card.card(
        cardUrl="mr-ar-01-view-tax-year-submission-history.html",
        headingLevel="h3",
        heading="Amend a submitted return",
        linkContent="Add workers or change payment details entered when a return was submitted.",
        cardId="amendSubmittedReturnCard"
      ) }} #}

      {{ card.card(
        cardUrl="#",
        headingLevel="h3",
        heading="View submitted returns",
        linkContent="View a return to make amendments, change payment details you entered, or check progress.",
        cardId="viewSubmittedReturnCard"
      ) }}


      {{ card.card(
        cardUrl="mr-ar-08-incomplete-returns.html",
        headingLevel="h3",
        heading="Incomplete and unsuccessful returns",
        linkContent="Manage any returns currently in progress and those where the initial submission was unsuccessful.",
        cardId="loremIpsumCard"
      ) }}
      
    </div>



  </div>

  <div class="govuk-grid-column-one-quarter">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Help and guidance
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
            <a href="/filing-a-return/business-returns/business-returns/guidance">
              Business Returns Service: A guide (BRS 340)
            </a>
          </li>
          <li>
            <a href="/filing-a-return/business-returns/business-returns/guidance">
              Find software suppliers for the Business Returns Service (BRS) - GOV.UK
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}