{% extends "filing-a-return/layouts/main.html" %}

{% set pageName="File your monthly CIS return" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Manage contractor details
    </h1>

    <p class="govuk-body">To use the Construction Industry Scheme service, you will need the contractor's Unique Taxpayer Reference. </p>

  <form action="mr-02-b-tax-month-and-year" method="post">
    {{ govukButton({
      text: "Continue"
    }) }}
  </form>



  </div>
</div>

{% endblock %}
