{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  You have not selected any subcontractors – CIS Prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "screen-1-subcontractor-list.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You have not selected any subcontractors</h1>

      {{ govukInsetText({
        text: "You cannot submit a monthly return without either selecting subcontractors to include, or completing a nil return."
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">Choose one of the following options:</p>

      <h3 class="govuk-heading-s">If you paid subcontractors this month</h3>
      
      <p class="govuk-body">
        <a href="screen-1-subcontractor-list.html" class="govuk-link">Go back and select the subcontractors</a> you paid this month, then enter their payment details.
      </p>

      <p class="govuk-body">
        If the subcontractor you need is not in your list, you can <a href="manage-subcontractors.html" class="govuk-link">add a new subcontractor</a> to your account first.
      </p>

      <h3 class="govuk-heading-s">If you did not pay any subcontractors this month</h3>

      <p class="govuk-body">
        You must <a href="nil-return.html" class="govuk-link">submit a nil monthly return</a> to tell HMRC you made no payments to subcontractors during this tax period.
      </p>

      {{ govukWarningText({
        text: "You must submit either a regular return or a nil return for each tax period, even if you made no payments.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">Get help</h2>

      <p class="govuk-body">
        If you're not sure what to do, contact the CIS Helpline.
      </p>

      <p class="govuk-body">
        Telephone: 0300 200 3210<br>
        Monday to Friday, 8am to 6pm<br>
        <a href="#" class="govuk-link">Find out about call charges</a>
      </p>

      {{ govukButton({
        text: "Return to subcontractor list",
        href: "screen-1-subcontractor-list.html"
      }) }}

    </div>
  </div>
{% endblock %}
