{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Declaration – CIS Prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "confirm-email-address.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="confirmation.html" method="post" novalidate>
        
        <h1 class="govuk-heading-l">Declaration</h1>

        <p class="govuk-body">By submitting this declaration I confirm that no payments have been made to subcontractors in the Construction Industry during the tax month (payment date).</p>

        {{ govukWarningText({
          text: "If you give any false information you may face financial penalties and prosecution.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukCheckboxes({
          name: "final-declaration",
          items: [
            {
              value: "confirmed",
              text: "I confirm that the information given on this return is correct and complete to the best of my knowledge."
            }
          ]
        }) }}

        {{ govukButton({
          text: "Confirm and submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
