{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Subcontractors you paid this month – CIS Prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
<span class="govuk-caption-l">Scheme 123, Ref 123/AB456<br>Period ending 5 January 2026</span>
<h1 class="govuk-heading-l">Subcontractors you paid this month</h1>
      

      
      <p class="govuk-body">You have added 3 subcontractors to this monthly return.</p>

      <p class="govuk-body">Select 'Change' to amend previously entered amounts or 'Proceed to check answers'.</p>

      <dl class="govuk-summary-list">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            BuildRight Construction
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="screen-2-payment-details.html?edit=2">
              Change<span class="govuk-visually-hidden"> for BuildRight Construction</span>
            </a>
            <a class="govuk-link" href="#" style="margin-left: 20px;">
              Remove<span class="govuk-visually-hidden"> BuildRight Construction from this return</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Northern Trades Ltd
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="screen-2-payment-details.html?edit=3">
              Change<span class="govuk-visually-hidden"> for Northern Trades Ltd</span>
            </a>
            <a class="govuk-link" href="#" style="margin-left: 20px;">
              Remove<span class="govuk-visually-hidden"> Northern Trades Ltd from this return</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            TyneWear Ltd
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="screen-2-payment-details.html?edit=1">
              Change<span class="govuk-visually-hidden"> for TyneWear Ltd</span>
            </a>
            <a class="govuk-link" href="#" style="margin-left: 20px;">
              Remove<span class="govuk-visually-hidden"> TyneWear Ltd from this return</span>
            </a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body">
        <a href="screen-2-payment-details.html" class="govuk-link">Add another subcontractor</a>
      </p>

      <form action="mr-03-04-a-check-answers-incomplete.html" method="post" novalidate>
        {{ govukButton({
          text: "Proceed to check answers"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}