{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Worker Automatic Update - Unsuccessful" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/filing-a-return/business-returns/v5/agent-flow/client-dashboard"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Unsuccessful automatic worker update
    </h1>

    <p class="govuk-body">
      BRS Online will check this again the next time you enter the application. </p>

    <p class="govuk-body">
      You can also add worker details, but you must complete your business details first. </p>

    <p class="govuk-body">
      <button type="submit" class="govuk-button" style="background-color: #00703c;" data-module="govuk-button">
        Continue
      </button>
    </p>

  </div>
</div>

{% endblock %}