{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Worker details – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Martin Brody</h1>

      <h2 class="govuk-heading-m">Worker details</h2>

      <dl class="govuk-summary-list app-summary-list app-summary-list--manage-worker govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            Individual or sole trader
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does worker use a trading name?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> whether the worker uses a trading name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Worker name
          </dt>
          <dd class="govuk-summary-list__value">
            Martin Brody
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> worker name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add worker address?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> whether to add a worker address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            12 Harbor View Road<br>
            Amity Island<br>
            Bodmin<br>
            Cornwall<br>
            PL31 2HL<br>
            England
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
            <span class="app-summary-list__separator">|</span>
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Method of contact
          </dt>
          <dd class="govuk-summary-list__value">
            Email address
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> method of contact</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            martin_brody@hmrc.gov.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
            <span class="app-summary-list__separator">|</span>
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add UTR?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> whether to add a UTR</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UTR
          </dt>
          <dd class="govuk-summary-list__value">
            3992651526
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> UTR</span>
            </a>
            <span class="app-summary-list__separator">|</span>
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> UTR</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add National Insurance number?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> whether to add a National Insurance number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ123456C
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> National Insurance number</span>
            </a>
            <span class="app-summary-list__separator">|</span>
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> National Insurance number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add works reference number?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> whether to add a works reference number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Works reference number
          </dt>
          <dd class="govuk-summary-list__value">
            XLS345-MM
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> works reference number</span>
            </a>
            <span class="app-summary-list__separator">|</span>
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> works reference number</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Confirm changes</h2>

      <p class="govuk-body">
        By changing this worker's details you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Accept and submit"
        }) }}

        <a class="govuk-link" href="#">Cancel changes</a>
      </div>

    </div>
  </div>
{% endblock %}