{% extends "business-registration/layouts/main.html" %}

{% set pageName = "Your personal details do not match HMRC records" %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/business-registration/registration-summary" }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">The personal details you entered do not match the details held by HMRC.</p>
      <p class="govuk-body">This could be because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you entered some details incorrectly</li>
        <li>the details held by HMRC need updating</li>
      </ul>

      <p class="govuk-body">The details held by HMRC are:</p>
      {{ govukSummaryList({
        rows: [
          { key: { text: "Name" }, value: { text: "Alex Morgan" } },
          { key: { text: "Date of birth" }, value: { text: "14 June 1985" } },
          { key: { text: "Address" }, value: { html: "24 Example Road<br>Exampleton<br>AB1 2CD" } }
        ]
      }) }}

      
      <p class="govuk-body">Check the personal details you entered in your <a class="govuk-link" href="/business-registration/registration-summary">registration summary</a>.</p>

     
      <p class="govuk-body">Sign out and <a class="govuk-link" href="https://www.gov.uk/tell-hmrc-change-of-details" target="_blank" rel="noopener noreferrer">tell HMRC about changes to your personal details (opens in new tab)</a>.</p>
      <p class="govuk-body">You can continue this registration after HMRC has updated your details.</p>

      <p class="govuk-body">If you continue now, we will use the personal details held by HMRC for this registration.</p>

<br>      

      <form action="/business-registration/personal-details-do-not-match" method="post" novalidate>
        {{ govukButton({ text: "Continue" }) }}
      </form>



    </div>
  </div>
{% endblock %}
