{% extends "business-registration/layouts/main.html" %}
{% set pageName = "Registration summary" %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/business-registration/personal-details-do-not-match" }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['useHmrcPersonalDetails'] %}
        {{ govukNotificationBanner({
          type: "success",
          html: '<h2 class="govuk-notification-banner__heading">Your registration will use the personal details held by HMRC.</h2>'
        }) }}
      {% endif %}
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      <h2 class="govuk-heading-m">Personal details</h2>
      {% if data['useHmrcPersonalDetails'] %}
        {{ govukSummaryList({ rows: [
          { key: { text: "Name" }, value: { text: data['registrationPersonalDetails']['name'] } },
          { key: { text: "Date of birth" }, value: { text: data['registrationPersonalDetails']['dateOfBirth'] } },
          { key: { text: "Address" }, value: { html: "24 Example Road<br>Exampleton<br>AB1 2CD" } }
        ] }) }}
      {% else %}
        {% set registrationAddress %}
          {{ data['registrationAddressLine1'] or '42 Sample Street' }}<br>
          {% if data['registrationAddressLine2'] %}{{ data['registrationAddressLine2'] }}<br>{% endif %}
          {{ data['registrationAddressTown'] or 'Exampleton' }}<br>
          {{ data['registrationAddressPostcode'] or 'AB1 3EF' }}
        {% endset %}
        {{ govukSummaryList({ rows: [
          { key: { text: "Name" }, value: { text: "Alex Morgan" } },
          { key: { text: "Date of birth" }, value: { text: "14 June 1985" } },
          { key: { text: "Address" }, value: { html: registrationAddress }, actions: { items: [{ href: "/business-registration/change-registration-address", text: "Change", visuallyHiddenText: "registration address" }] } }
        ] }) }}
        <p class="govuk-body">Your personal details do not match HMRC records.</p>
        <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-do-not-match">Check the details held by HMRC</a> before continuing your registration.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
