{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Send error  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{{ hmrcPageHeading({
  text: 'Verification request submitted'
}) }}

<p class="govuk-body">Your verification request has been sent, but HMRC has not received it yet.</p>

<p class="govuk-body">
  When it has been received, you'll find it in your <a class="govuk-link" href="#">verification history</a>.
</p>

       
<p class="govuk-body">
     Back to <a href="#">Manage your subcontractors</a>.
</p>
       

       
      

    </div>
  </div>

{% endblock %}
