
 {% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Are you sure you want to delete the monthly return for August 2025? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
        Enter the business's Unique Tax Reference (UTR)
        </label>
    </h1>
    </div>
    <p class="govuk-body">A UTR is a 10-digit number issued by HMRC ito identify individuals or companies for tax purposes.</p>
   <div class="govuk-form-group govuk-form-group--error">
  <div id="national-insurance-number-hint" class="govuk-hint">
    It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’
  </div>
  <p id="national-insurance-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> You have entered an incorrect UTR. Please check and try again.
  </p>
  <input class="govuk-input govuk-input--error" id="national-insurance-number" name="nationalInsuranceNumber" type="text" aria-describedby="national-insurance-number-hint national-insurance-number-error">
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
   Continue
    </button>
{% endblock %}

