{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Sorry, you are unable to use this service - GOV.UK" %}


{% block content %}



<div class="hods-loading-spinner" role="status">
  <div class="hods-loading-spinner__spinner"></div>
  <div class="hods-loading-spinner__content">
    <h1 class="govuk-heading-m">
      Authorisation check in progress
    </h1>
            <p class="govuk-body">Do not refresh this page or press the back button while the authorisation check is in progress.</p>

  </div>
</div>



        
        <!--<p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Return to client list</a>
        </p>-->
    </div>
</div>

{% endblock %}