{% extends "filing-a-return/business-returns/layouts/main-with-nav-cards.html" %}
{% import "filing-a-return/business-returns/macros/custom/card-template.njk" as card %}

{% set pageName = "BRS returns" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-!-padding-bottom-6"></div>

    <h1 class="govuk-heading-l">
      Manage Business Returns Service account
    </h1>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Scheme name</th>
          <td class="govuk-table__cell">Scheme 123</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Employer reference</th>
          <td class="govuk-table__cell">123/EZ00100</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="RLP1b-manage-your-brs-return.html",
        headingLevel="h2",
        heading="Manage your BRS return",
        linkContent="File or amend your monthly or nil returns.",
        cardId="BRSreturnCard"
        ) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="#",
        headingLevel="h2",
        heading="Manage your workers",
        linkContent="Add or edit a worker, submit or view a verification request.",
        cardId="WorkersCard"
        ) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="#",
        headingLevel="h2",
        heading="Manage your business details",
        linkContent="Add or change a unique taxpayer reference, scheme name or email address.",
        cardId="BusinessDetailsCard"
        ) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="#",
        headingLevel="h2",
        heading="Appeal a penalty",
        linkContent="Appeal a penalty within 30 days of receiving one.",
        cardId="AppealAPenaltyCard"
        ) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="#",
        headingLevel="h2",
        heading="Notices and statements",
        linkContent="View HMRC notices, penalty warnings and confirmation statements.",
        cardId="NoticesAndStatementsCard"
        ) }}
      </div>
    
    </div>

  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-!-padding-top-6"></div>
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Help and guidance
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/filing-a-return/business-returns/business-returns/guidance">
              Business Returns Service: A guide (BRS 340)
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/pay-paye-tax">
              Pay employers' PAYE
            </a>
          </li>
          <li>
            <a href="
/filing-a-return/business-returns/business-returns/guidance">
              Penalties for late returns (BRS) CC/FS18b
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}