{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Are you sure you want to remove {name of worker}? – Business Returns Service prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<form method="post" novalidate action="mr-ar-04-worker-details-added">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="#" method="post" novalidate>
        
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "remove-worker",
          fieldset: {
            legend: {
              text: "Are you sure you want to remove {name of worker}?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
