{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
   What is the total tax deducted from {{data['subcontractors']}}?  – CIS Prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {%set subcontractorName = data['subcontractors'] %}
      {%set subContLenght = data['subcontractors'].length %}
      <form action="mr-03-04-a-check-your-answer" method="post" novalidate>
        {% if subContLenght > 1 %}
          <!-- multiple subcontractor -->
          {%if data['whichSubcontractorDeetails'] != '' or data['whichSubcontractorDeetails'] != null %}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="tax-deducted">
              What is the total tax deducted from {{data['whichSubcontractorDeetails']}}? 
            </label>
          </h1>
          {%else%}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="tax-deducted">
              What is the total tax deducted from {{subcontractorName[0]}}? 
            </label>
          </h1>
          {%endif%}
        {%else%}
        <!-- single subcontractor -->
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="tax-deducted">
            What is the total tax deducted from {{subcontractorName}}? 
          </label>
        </h1>
        {%endif%}
        <div id="tax-deducted-hint" class="govuk-hint">
         Enter the total tax deducted rounded up to the nearest pound.
        </div>
        {{ govukInput({
          classes: "govuk-input--width-10",
          id: "tax-deducted",
          name: "tax-deducted",
          value: data['tax-deducted'],
          prefix: {
            text: "£"
          },
          spellcheck: false,
          attributes: {
            inputmode: "decimal",
            "aria-describedby": "tax-deducted-hint"
          }
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
