{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Which tax month and year are you filing a nil return for?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Which nil return period are you filing for?
      </h1>

      <p class="govuk-body">A return period runs from the 6th of the month to the 5th of the following month. For example, for 6 December to 5 January 2025, enter 1 2025.</p>

          {{ govukWarningText({
      text: "You are required, by law, to submit this return by the due date (19th of each month). A penalty may be charged for late returns.",
      iconFallbackText: "Warning"
    }) }}

<p class="govuk-body">You cannot change a return period after you have started. You must <a href="#" class="govuk-link">delete the existing return</a>.</p>
    
      <form action="mr-03-08-d-submit-inactivity-request-nil-return" method="post">
        {{ govukDateInput({
          id: "mty",
          namePrefix: "mty",
          fieldset: {
            legend: {
              text: "Enter month and year",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 9 2025"
          },
          items: [

            {
              name: "month",
              classes: "govuk-input--width-2",
              autocomplete: "tax-month"
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              autocomplete: "tax-year"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>   

  </div>
</div>

{% endblock %}
