{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Verify your subcontractors – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  {% from "govuk/components/pagination/macro.njk" import govukPagination %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="subcontractors-hint results-count">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which subcontractors do you want to verify?
              </h1>
            </legend>

            <div id="subcontractors-hint" class="govuk-hint">
              Select the unverified subcontractors you want to add to this verification request.
            </div>


            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="subcontractor-1"
                  name="select-subcontractors"
                  type="checkbox"
                  value="brody-martin">
                <label class="govuk-label govuk-checkboxes__label" for="subcontractor-1">
                  Brody, Martin
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="subcontractor-2"
                  name="select-subcontractors"
                  type="checkbox"
                  value="hooper-and-associates">
                <label class="govuk-label govuk-checkboxes__label" for="subcontractor-2">
                  Hooper and Associates
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="subcontractor-4"
                  name="select-subcontractors"
                  type="checkbox"
                  value="quint-transportation">
                <label class="govuk-label govuk-checkboxes__label" for="subcontractor-4">
                  Quint Transportation
                </label>
              </div>
              
               <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="subcontractor-3"
                  name="select-subcontractors"
                  type="checkbox"
                  value="the-kintner-group">
                <label class="govuk-label govuk-checkboxes__label" for="subcontractor-3">
                  The Kintner Group
                </label>
              </div>

              

              
            </div>
          </fieldset>
        </div>

       
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}