{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  No unmatched subcontractors - Construction Industry Scheme - GOV.UK – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}



{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
  No unmatched subcontractors
</h1>

<p class="govuk-body">The subcontractors marked as unmatched in your most recent verification results have been deleted.
</p>
<p class="govuk-body">You can now verify any of your other subcontractors by creating a new verification request.
</p>

      
<p class="govuk-body">
     Back to <a href="#">Manage your subcontractors</a>.
</p>
       

       
      

    </div>
  </div>

{% endblock %}
