{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Contact details (optional) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/SL-02-06-check-answers" method="post">

        <h1 class="govuk-heading-l">
          What is the mobile number for {company name}?
        </h1>

       
        {{ govukInput({
       

          hint: {
            text: "HMRC will never use this mobile number to contact this subcontractor"
          },
          id: "mobile",
          name: "mobile",
          type: "tel",
          autocomplete: "tel",
          spellcheck: false
        }) }}

       

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      <script>
          document.querySelector(".form").addEventListener("submit", function (event) {
            event.preventDefault()

            const remaining = JSON.parse(
              sessionStorage.getItem("contactPages") || "[]"
            )

            const nextPage = remaining.shift() || "company-has-utr-AS-C5-ptn"
            sessionStorage.setItem("contactPages", JSON.stringify(remaining))

            window.location.href = nextPage
          })
      </script>

    </div>
  </div>

{% endblock %}
