{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Send error  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">
  Verification results
</h1>

<p class="govuk-body">You do not have any verification results to show at the moment.
</p>

      
<p class="govuk-body">
     Back to <a href="#">Manage your subcontractors</a>.
</p>
       

       
      

    </div>
  </div>

{% endblock %}
