{% extends "filing-a-return/layouts/main-with-nav-cards.html" %}
{% import "filing-a-return/macros/custom/card-template.njk" as card %}

{% block pageTitle %}
  Manage your subcontractors – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-!-padding-bottom-6"></div>

    <h1 class="govuk-heading-l">
      Manage your subcontractors
    </h1>

     <p class="govuk-body">Subcontractors must be verified before you can include them on a monthly return. This will ensure that deductions are made at the correct rate.</p>

        {{ govukInsetText({
            html: 'You will need to use <a href="#" class="govuk-link">commercial software</a> to submit any verification requests that include more than 50 subcontractors.'
          }) }}
          

          

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="RLP1b-manage-your-cis-return.html",
        headingLevel="h2",
        heading="Add new subcontractors",
        linkContent="Create records for any new subcontractors who you want to pay.",
        cardId="CISreturnCard"
        ) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="#",
        headingLevel="h2",
        heading="View your subcontractors",
        linkContent="Edit the details of any subcontractor in your list.",
        cardId="SubcontractorsCard"
        ) }}
      </div>
    </div>

    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="RLP1b-manage-your-cis-return.html",
        headingLevel="h2",
        heading="Review your verification history",
        linkContent="Download or print copies of all verification requests you've submitted."
        ) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="verify-select-subcontractor-checkbox-VF-03",
        headingLevel="h2",
        heading="Verify your subcontractors",
        linkContent="Make sure your subcontractors are given the correct tax treatment."
        ) }}
      </div>
    </div>


       <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ card.card(
        cardUrl="RLP1b-manage-your-cis-return.html",
        headingLevel="h2",
        heading="Check your results",
        linkContent="View the outcome of your latest verification request.",
        cardId="CISreturnCard"
        ) }}
      </div>
     
    </div>




  </div>


  <!-- Side Nav Links -->
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-!-padding-top-6"></div>
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Help and guidance
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/government/publications/construction-industry-scheme-cis-340/construction-industry-scheme-a-guide-for-contractors-and-subcontractors-cis-340">
              Construction Industry Scheme: A guide for contractors and subcontractors
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/guidance/help-and-support-for-the-construction-industry-scheme">
              Email updates, videos and webinars about the Construction Industry Scheme
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/browse/business/construction-property-management">
              More information about construction and property management
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}

