{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Contact email {subcontractor name}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/SL-02-06-check-answers" method="post">

        <h1 class="govuk-heading-l">
          What email address should HMRC send this confirmation to?
        </h1>

       
        {{ govukInput({
  hint: {
    text: "HMRC will only use this email address to confirm this verification request. Your saved email address will not be changed."
  },
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  attributes: {
    onfocus: "window.location.href='verify-update-email-SM-01b-entered'"
  }
}) }}

       

        {{ govukButton({
          text: "Continue",
          href: "#"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
