{% extends "filing-a-return/layouts/main.html" %}

{% set pageName="Sorry, you are unable to use this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Authorisation check in progress</h1>

        <p class="govuk-body">We are checking you have authorisation to access this page. </p>
        <p class="govuk-body">If you can not access this page you will need to contact <a href="#" class="govuk-link govuk-link--no-visited-state">HMRC Online Services Helpdesk</a>.</p>

        
        <!--<p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Return to client list</a>
        </p>-->
    </div>
</div>

{% endblock %}