{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Monthly return for period ended February 2025
      </h1>

      <h2 class="govuk-heading-m">
        Submission details
      </h2>
      <p>
       Submitted at 8:46am on 16 March 2025.
      </p>

      <!-- <div class="govuk-inset-text">
        <h2 class="govuk-heading-s">
         Submission reference number
         </h2>
        6QEDAHDREBY455GDNCPMDCNDFBDBJSJSJDNDDHDJDZ5
      </div> -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Submission reference number
          </dt>
          <dd class="govuk-summary-list__value">
           6QEDAHDREBY455GDNCPMDCNDFBDBJSJSJDNDDHDJDZ5
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contractor name
          </dt>
          <dd class="govuk-summary-list__value">
           PAL 355 Scheme
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payee reference 
          </dt>
          <dd class="govuk-summary-list__value">
            123/AB456
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Submission type
          </dt>
          <dd class="govuk-summary-list__value">
            Monthly return
          </dd>
        </div>
      </dl>


            <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6">
        Payments to subcontractors
      </h2>
      <p>Total 3 subcontractors added for this monthly return.</p>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Payment summary
          </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total payments to subcontractor
                </dt>
                <dd class="govuk-summary-list__value">
                  £1900.75
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total cost of materials
                </dt>
                <dd class="govuk-summary-list__value">
                £616
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total CIS deduction
                </dt>
                <dd class="govuk-summary-list__value">
                  £380
                </dd>
              </div>
            </dl>
        </div>
      </div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Subcontractor's name</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total payment made</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cost of material</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tax deducted</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BuildRight Construction</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£165</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£95</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£95</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Northern Trades Ltd</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£75</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£55</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£55</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">TyneWear Ltd</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£165</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£55</td>
          </tr>
        </tbody>
      </table>

      
      <p>
         <a href="javascript:window.print()" class="govuk-link">Print this page</a>
      </p>

      <p>
         <a href="/filing-a-return/sprint-14/monthly-returns/mr-monthly-return-history.html">Return to submitted return history </a>
      </p>

    </div>
  </div>

{% endblock %}
