{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
    How much did you pay to {{data['workers']}} in total? – Business Returns Service prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {%set workerName = data['workers'] %}
        {%set subContLenght = data['workers'].length %}
        <form action="mr-03-03-d-enter-material-costs" method="post" novalidate> 
          {%if subContLenght > 1 %}
          <!-- multiple worker -->
           {%if data['whichWorkerDeetails'] != '' or data['whichWorkerDeetails'] != null %}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="total-payments">
              How much did you pay to {{data['whichWorkerDeetails'] or "TyneWear Ltd"}} in total?  
            </label>
          </h1>
          {%else%}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="total-payments">
              How much did you pay to {{workerName[0] or "TyneWear Ltd"}} in total?  
            </label>
          </h1>
          {%endif%}
          <div id="total-payments-hint" class="govuk-hint">
            Enter the gross amount, excluding VAT and any deductions. Round down to the nearest pound.
          </div>
          {{ govukInput({
            classes: "govuk-input--width-10",
            id: "total-payments",
            name: "total-payments",
            value: data['total-payments'],
            prefix: {
              text: "£"
            },
            spellcheck: false,
            attributes: {
              inputmode: "numeric",
              "aria-describedby": "total-payments-hint"
            }
          }) }}
          {%else%}
          <!-- single worker -->
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="total-payments">
              How much did you pay to {{data['workers'] or "BuildRight Business"}} in total? 
            </label>
          </h1>
          <div id="total-payments-hint" class="govuk-hint">
           Enter the gross amount you paid to this worker. Exclude VAT and any deductions. Round up to the nearest pound.
          </div>

            {{ govukInput({
                classes: "govuk-input--width-10",
                id: "total-payments",
                name: "total-payments",
                
                prefix: {
                  text: "£"
                },
                spellcheck: false,
                attributes: {
                  inputmode: "numeric",
                  "aria-describedby": "total-payments-hint",
                  onfocus: "window.location.href='mr-03-03-c-enter-total-payments-entered'"
                  }
            }) }}
        {%endif%}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
