{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Confirmation by email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/routing-handler" method="post">

        <h1 class="govuk-heading-l">
          Verify your subcontractors
        </h1>

        <p class="govuk-body">
          You do not have any subcontractors at the moment.

        </p>

        <p class="govuk-body">
          You will need to <a href="#">add some subcontractors first</a> before you can create a verification request or monthly return.
        </p>

         <p class="govuk-body">
           Back to <a href="#">Manage your subcontractors</a>
        </p>
        


      

      </form>

    </div>
  </div>

{% endblock %}