{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Would you like to add a subcontractor? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Select subcontractors
      </h1>

<p class="govuk-body govuk-!-margin-bottom-9">No subcontractors have been added yet.</p>

<form method="post" novalidate action="mr-which-subcontractor-do-you-want-select">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
       Would you like to add a subcontractor?
      </legend>
      <!-- <div id="add-another-hint" class="govuk-hint">
        Select 'Yes' to submit your return, and 'No' if you need to add more.
      </div> -->
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes, I would like to add subcontractor
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No, I need to complete a nil monthly return
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>
<p class="govuk-body">
<a href="#" class="govuk-link">Return to Manage CIS return</a>
</p>
    </div>
  </div>

{% endblock %}
