
 {% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Are you sure you want to delete the monthly return for August 2025? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
        What is the contractor's Unique Taxpayer Reference (UTR)?
        </label>
    </h1>
    </div>
   <div class="govuk-form-group govuk-form-group--error">
  <div id="UTR-hint" class="govuk-hint">
   A UTR is a 10 or 13-digit number issued by HMRC to identify individuals or companies for tax purposes.
  </div>
  <p id="UTR-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> You have entered an incorrect UTR. A UTR is 10 or 13-digits.
  </p>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text" aria-describedby="UTR-error">
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
   Continue
    </button>
{% endblock %}

