{% extends "filing-a-return/business-returns/layouts/main.html" %}
{% set pageName = "Guidance" %}
{% block content %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Business Returns Service guidance</h1>
<p class="govuk-body">This prototype shows how a business reports worker payments and payment deductions in a monthly return.</p>
<p class="govuk-body">Detailed guidance will be added here.</p>
<p class="govuk-body"><a class="govuk-link" href="/filing-a-return/business-returns/">Return to the prototype</a></p>
</div></div>
{% endblock %}
