{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  What is the worker's Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/business-returns/SL-02-01-address"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/SL-02-05-verification-number" method="post">

        {{ govukInput({
          label: {
            text: "What is the worker's Unique Taxpayer Reference (UTR)?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "This is 10 numbers, like 1234567890. The UTR will be on tax returns and other letters about Self Assessment. It may also be called 'tax reference'"
          },
          id: "utr",
          name: "utr",
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
