{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Monthly return history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <!-- <span class="govuk-caption-l">Submitted returns</span> -->
        <h1 class="govuk-heading-l">
          Monthly return history for all tax years
        </h1>
      
      <!-- <p>
       All of your submitted monthly returns can be viewed in a read-only formate from this page. You can also view and save your submission receipts.
      </p> -->
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <!-- view all tax years -->
      <div id="viewAll">
        <!-- 2022-23 -->
        <table class="govuk-table govuk-!-margin-bottom-8 returns-table" id = "showMR2022">
          <caption class="govuk-table__caption govuk-table__caption--m">Tax year 2022 to 2023</caption>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-fifth">Return period ended</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Type</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Date submitted</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Monthly return</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Submission receipt</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Status</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Apr 2023</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Feb 2023</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="/filing-a-return/business-returns/sprint-21/amend-submitted-return/mr-ar-03-amend-confirmation" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Mar 2023</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">5 Jan 2023</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Feb 2023</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Dec 2022</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">In progress<span class="govuk-visually-hidden">amended return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Feb 2023</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Dec 2022</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Jan 2023</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">5 Nov 2022</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Not available</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Dec 2022</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">5 Oct 2022</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
          </tbody>
        </table>
        <!-- 2018-19 -->
        <table class="govuk-table govuk-!-margin-bottom-8 returns-table" id = "showMR2022">
          <caption class="govuk-table__caption govuk-table__caption--m">Tax year 2018 to 2019</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-fifth">Return period ended</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Type</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Date submitted</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Monthly return</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Submission receipt</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Apr 2019</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Feb 2019</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Mar 2019</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">5 Jan 2019</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Feb 2019</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Jan 2019</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">In progress<span class="govuk-visually-hidden">amended return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Jan 2019</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Dec 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Dec 2018</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Nov 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Not available</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Nov 2018</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Oct 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Oct 2018</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Sep 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Sep 2018</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Aug 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- 2017-18 -->
        <table class="govuk-table govuk-!-margin-bottom-8 returns-table" id = "showMR2022">
          <caption class="govuk-table__caption govuk-table__caption--m">Tax year 2017 to 2018</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-fifth">Return period ended</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Type</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Date submitted</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Monthly return</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Submission receipt</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Apr 2018</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Feb 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Mar 2018</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">5 Jan 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Feb 2018</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Jan 2018</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">In progress<span class="govuk-visually-hidden">amended return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Jan 2018</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Dec 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Dec 2017</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Nov 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Not available</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Nov 2017</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Oct 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Oct 2017</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Sep 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Sep 2017</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Aug 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- 2016-17 -->
        <table class="govuk-table govuk-!-margin-bottom-8 returns-table" id = "showMR2022">
          <caption class="govuk-table__caption govuk-table__caption--m">Tax year 2016 to 2017</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-fifth">Return period ended</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Type</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Date submitted</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Monthly return</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Submission receipt</th>
              <th class="govuk-table__header govuk-!-width-one-fifth">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Apr 2017</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Feb 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Mar 2019</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">5 Jan 2019</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Feb 2017</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Jan 2017</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">In progress<span class="govuk-visually-hidden">amended return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Jan 2017</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Dec 2016</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Dec 2016</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Nov 2016</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Not available</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Nov 2016</strong></th>
              <td class="govuk-table__cell">Nil</td>
              <td class="govuk-table__cell">6 Oct 2016</td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">Awaiting confirmation</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Oct 2016</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Sep 2016</td>
              
              
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><strong>Sep 2016</strong></th>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">6 Aug 2016</td>
              
              
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-monthly-return-submission-details.html" class="govuk-link">View<span class="govuk-visually-hidden"> monthly return for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="sr-04-d-successful-submission.html" class="govuk-link">View<span class="govuk-visually-hidden"> submission receipt for {Month} {Year}</span></a></p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body"><a href="#" class="govuk-link">Amend<span class="govuk-visually-hidden">submission return for {Month} {Year}</span></a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- link to go back to submission history page -->
       <p class="govuk-body">
          <a href="sr-01-view-tax-year-submission-history.html" class="govuk-link">Return to View tax year</a>
        </p>
    </div>
  </div>
{% endblock %}
