{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  What is the company's Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/business-returns/SL-02-02-company-address"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/SL-02-05-verification-number" method="post">

        {{ govukInput({
          label: {
            text: "What is the company's Unique Taxpayer Reference?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "This is 10 numbers, for example 1234567890. It will be on tax returns and other letters from HMRC. It may be called 'reference', 'UTR' or 'official use'."
          },
          id: "utr",
          name: "utr",
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
