{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  What is the trust name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/business-returns/SL-03-worker-type"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/business-returns/SL-02-03-trust-address" method="post">

        {{ govukInput({
          label: {
            text: "What is the trust name?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "This is the registered trust name"
          },
          id: "trust-name",
          name: "trust-name",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
