{% extends "filing-a-return/business-returns/layouts/main.html" %}
{% block header %}
  {{ govukHeader() }}
{% endblock %}
{% set pageName="Sprint 27" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">
      <strong class="govuk-tag">
        In progress
      </strong>
    </span>
    <h1 class="govuk-heading-xl">TEMP: UR - User testing BRS prototypes</h1>
    <p class="govuk-body-l">
      Friday 18 September 2026
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<!-- Agent return screens start from here -->
    <div id="sprint-27-details">
      <h2 class="govuk-heading-l">Agent: Amend submitted return</h2>



  <p>
      <a href="/filing-a-return/business-returns/ur-testing/ur-file-monthly-return/agent/ip1-introduction">Start agent amend submitted return
      </a>
  </p>
           
      <p>BRS Trading Accountants (CTA) act as agents who manage BRS for 3 clients, Apple Business indicated to the agency that they actually did not pay any workers for return period of March 5th to April 5th. CTA is to action this amendment on behalf of Apple Business. </p>


      
        </div>

        <!-- Agent return screens end -->

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<!-- Business return screens start from here -->
    <div id="sprint-27-details">
      <h2 class="govuk-heading-l">Business: Filing a standard return</h2>



  <p>
      <a href="/filing-a-return/business-returns/ur-testing/ur-file-monthly-return/business/ip1-introduction">Start business filing a standard return 
      </a>
  </p>
           
      <p>Jim Dorito is the owner of Dorito's Business, he has signed up with BRS and needs to submit a return for the most recent period (6th August - 5th September). As part of this he needs to update his BRS information regarding his business details and worker details as he previously entered erroneous data. He would also like to tell HMRC that he doesn't intend on paying workers for the next 6 months as he is going travelling!</p>


      
        </div>

        <!-- Business return screens end -->

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <!-- Manage worker screens start from here -->
<div id="sprint-27-manage-worker-details">
  <h2 class="govuk-heading-l">
    Verification of worker
  </h2>

  <p>
      <a href="/filing-a-return/business-returns/ur-testing/ur-testing-Insufficient/SLP-01">
      Start worker verification journey</a>
  </p>

  <p class="govuk-body">
    Chrissie Watkins is a business who is about to start a business project that will involve a total of 7 workers. 4 of these workers are brand new, so they will need to be verified.</p>

<p class="govuk-body">The other 3 businesss already exist in her worker list. However, because they have not been added to a BRS return for 5 years, they have lost their verification status and she would like to re-verify them to ensure that the correct deduction rate is being applied.</p>


<p class="govuk-body">
  The 4 brand new workers who need to be verified are
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Martin Brody (Individual)</li>
  <li>Quint Transportation (Company)</li>
  <li>Hooper and Associates (Partnership)</li>
  <li>The Kintner Group (Trust)</li>
</ul>

<p class="govuk-body">
  The 3 existing businesss who will also be added to this verification request are:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>InGen Research (Company)</li>
  <li>Alan Grant (Individual)</li>
  <li>Malcolm and Sattler (Partnership)</li>
</ul>

<p class="govuk-body">
  Turns out that the 3 existing businesss are all missing a UTR, so they are flagged as 'Insufficient' during the verification flow.
</p>

<p class="govuk-body">Chrissie decides to remove InGen from this request, proceed with verifying Malcom and Sattler (despite the effect on their tax treatment), and amend Alan Grant's worker information to include a UTR
</p>


 






  </div>
</div>

{% endblock %}