{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Check your answers before adding the partnership – GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <h1 class="govuk-heading-l">Check your answers before adding this company</h1>

      <h2 class="govuk-heading-m">Worker details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Type"
            },
            value: {
              text: "Limited company"
            },
            actions: {
              items: [
                {
                  href: "../all/SL03-worker-type",
                  text: "Change",
                  visuallyHiddenText: "type"
                }
              ]
            }
          },


        

           {
            key: {
              text: "Company name"
            },
            value: {
              text: "{company name}"
            },
            actions: {
              items: [
                {
                  href: "company-name-AS-C1-ptn",
                  text: "Change",
                  visuallyHiddenText: "company name"
                }
              ]
            }
          },

            {
            key: {
              text: "Add company address?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "company-add-address-questions-AS-C2-ptn",
                  text: "Change",
                  visuallyHiddenText: "company address"
                }
              ]
            }
          },

          {


            key: {
              text: "Address"
            },
            value: {
              html:   "
                      {Address line 1}<br>
                      {Address line 2}<br>
                      {Town or city}}<br>
                      {County}<br>
                      {Postal code}<br>
                      {Country}<br>
                    "
                    
            },
            actions: {
              items: [
                {
                  href: "AS-C-ALS-Country",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },

 {
      key: {
        text: "Add contact details?"
      },
   value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "AS-Contact-C",
            text: "Change",
            visuallyHiddenText: "Add contact details"
          }
        ]
      }
    },
          

    {

          key: {
              text: "Methods of contact"
            },
            value: {
              text: "Email address"
            },
            actions: {
              items: [
                {
                  href: "AS-C4",
                  text: "Change",
                  visuallyHiddenText: "methods of contact"
                }
              ]
            }
          },
 {

          key: {
              text: "Email address"
            },
            value: {
              text: "{Email address}"
            },
            actions: {
              items: [
                {
                  href: "company-contact-email-AS-C4a-ptn",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          },

 



  

  {
              key: {
                text: "Add UTR?"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "company-has-utr-AS-C5-ptn",
                    text: "Change",
                    visuallyHiddenText: "add UTR"
                  }
                ]
              }
            },

   {
           key: {
              text: "Corporation Tax UTR"
            },
            value: {
              text: "{Corporation Tax UTR for company}"
            },
            actions: {
              items: [
                {
                  href: "company-enter-utr-AS-C6-ptn",
                  text: "Change",
                  visuallyHiddenText: "corporation tax utr"
                }
              ]
            }
          },



          
          {
            key: {
              text: "Add company registration number?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "company-has-crn-AS-C7-ptn",
                  text: "Change",
                  visuallyHiddenText: "company registration number"
                }
              ]
            }
          },



       
          {  

            key: {
              text: "Company registration number"
            },
            value: {
              text: "{Company registration number}"
            },
            actions: {
              items: [
                {
                  href: "company-crn-enter-crn-AS-C8-ptn",
                  text: "Change",
                  visuallyHiddenText: "company registration number"
                }
              ]
            }
          },


{
            key: {
              text: "Add works reference number?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "company-worksref-AS-C9-ptn",
                  text: "Change",
                  visuallyHiddenText: "works reference number"
                }
              ]
            }
          },


          {
            
            key: {
              text: "Works reference number"
            },
            value: {
              text: "XLS345-MM"
            },
            actions: {
              items: [
                {
                  href: "company-worksref-enter-AS-C10-ptn",
                  text: "Change",
                  visuallyHiddenText: "works reference number"
                }
              ]
            }
          }

        ]
      }) }}

     

      <h2 class="govuk-heading-m">Now add this worker</h2>

      <p class="govuk-body">By adding this worker you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form class="form" action="/filing-a-return/business-returns/sprint-27/add-worker/all/worker-added-AS-CONF-ptn" method="get" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}