{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  What is the partnership's Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="company-has-crn-AS-C7-ptn" method="post">
       {% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">Corporation Tax Unique Taxpayer Reference (UTR)</h1>

<p class="govuk-body">The UTR will be on tax returns and other letters about Corporation Tax. It might be called 'reference', 'UTR', or 'official use'.</p>


{{
  govukInput({
    label: {
      text: "What is the Corporation Tax UTR for {company name}?",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    hint: {
      text: "A Corporation Tax UTR is a 10 digit number"
    },
    id: "utr",
    name: "utr",
    classes: "govuk-input--width-10"
  })
}}

{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
