{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Confirmation by email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/routing-handler" method="post">

        <h1 class="govuk-heading-l">
          Are you sure you want to remove the works reference number for Martin Brody?
        </h1>

       

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "emailConfirmation",

          fieldset: {
            describedBy: "email-confirmation-info"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}