{% extends "filing-a-return/layouts/main.html" %}

{% set pageName="You have already submitted your monthly nil return - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You have already submitted your monthly nil return</h1>

      <p class="govuk-body">View and manage your monthly returns in your <a href="#" class="govuk-link">Construction Industry Scheme account</a>.</p>
        
  </div>
</div>

{% endblock %}
