{% extends "filing-a-return/layouts/main.html" %}

{% set pageName="Sorry, you are unable to use this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, you are unable to use this service</h1>

      <p class="govuk-body">To use this service, you will need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>register with the <a href="https://www.gov.uk/what-is-the-construction-industry-scheme" class="govuk-link">Construction Industry Scheme</a> if you are a contractor or subcontractor</li>
  <li>get access to <a href="https://www.gov.uk/guidance/payecis-for-agents-online-service" class="govuk-link">PAYE for Agents</a> if you are an agent </li>
</ul>
  </div>
</div>

{% endblock %}
