{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Contact details (optional) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/SL-02-05-work-type"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/SL-02-06-check-answers" method="post">

        <h1 class="govuk-heading-l">
          Subcontractor's contact details
        </h1>

       
        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Telephone number"
          },
          hint: {
            text: "For international numbers, include the country code, like +33 for a French number"
          },
          id: "telephone",
          name: "telephone",
          type: "tel",
          classes: "govuk-input--width-20",
          autocomplete: "tel"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
