{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  What is the subcontractor's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/SL-03-subcontractor-type"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/SL-02-01-date-of-birth" method="post">

        <h1 class="govuk-heading-l">
          What is the subcontractor's name?
        </h1>

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name",
          name: "first-name",
          autocomplete: "given-name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Middle names (optional)"
          },
          id: "middle-names",
          name: "middle-names",
          autocomplete: "additional-name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name",
          name: "last-name",
          autocomplete: "family-name",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
