{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  What is the subcontractor's Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/SL-02-01-address"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/SL-02-05-verification-number" method="post">

        {{ govukRadios({
          name: "has-utr",
          fieldset: {
            legend: {
              text: "Do you have a Unique Taxpayer Reference (UTR)?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is 10 numbers, like 1234567890. The UTR will be on tax returns and other letters about Self Assessment. It may also be called 'tax reference'"
          },
          classes: "govuk-radios--inline",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}