{% extends "filing-a-return/layouts/main.html" %}

{% set pageName="CIS returns" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {# <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          If you have entered a tax month incorrectly and it is in progress, you cannot change it.
        </p>
        <p class="govuk-body">
          You must start a new return for the correct period and then delete the one that is incorrect.
        </p>     
      </div> 
     </div> #}
    <h1 class="govuk-heading-l">
      {# <span class="govuk-caption-l">ABC Construction Ltd</span> #}
      Incomplete or unsuccessful returns
    </h1>

    <p>A tax month cannot be changed if it is incorrect and the return is in progress. You must delete it and file a new return with the correct tax month.</p>
    <!-- <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If you have entered a tax month incorrectly and it is in In progress, you cannot change it. You must start a new return for the correct period and then delete the one that is incorrect.
        </strong>
      </div> -->
    {# <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="#">File a monthly return</a>
        </h3>
        <p class="govuk-body">File a CIS return for any subcontractors you used in a monthly return period.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="#">File a nil return</a>
        </h3>
        <p class="govuk-body">File a nil return for any subcontractors you used in a monthly return period.</p>
      </div> #}
      
    {# </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="mr-ar-01-view-tax-year-submission-history.html">Amend a submitted return</a>
        </h3>
        <p class="govuk-body">Change the information you entered when you submitted a monthly or nil return.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="#">View a submitted return</a>
        </h3>
        <p class="govuk-body">View monthly or nil returns you submitted.</p> #}
      </div>
      
    </div>
    {# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-6">
    <h2 class="govuk-heading-m">Returns outstanding</h2> #}
<table class="govuk-table govuk-!-margin-bottom-8 returns-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Return period ended</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Type</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Last updated</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Monthly return</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Status</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Aug 2025</b></td>
           <td class="govuk-table__cell">Standard</td>
         <td class="govuk-table__cell">19 Sep 2025</td>
          <td class="govuk-table__cell"><a href="#">View</a></td>
          <td class="govuk-table__cell">In progress</td>
           <td class="govuk-table__cell"><a href="#">Continue</a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Jul 2025</b></td>
            <td class="govuk-table__cell">Nil</td>
          <td class="govuk-table__cell">19 Aug 2025</td>
          <td class="govuk-table__cell"><a href="#">View</a></td>
           <td class="govuk-table__cell">Submitted</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> Jul 2025 return</span></a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>May 2025</b></td>
          <td class="govuk-table__cell">Standard</td>
          <td class="govuk-table__cell">19 Jul 2025</td>
          <td class="govuk-table__cell"><a href="#">View</a></td>
           <td class="govuk-table__cell">Awaiting confirmation</td>
           <td class="govuk-table__cell"></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Apr 2025</b></td>
          <td class="govuk-table__cell">Nil</td>
          <td class="govuk-table__cell">18 May 2025</td>
          <td class="govuk-table__cell"><a href="#">View</a></td>
          <td class="govuk-table__cell">Unsuccessful</td>
          <td class="govuk-table__cell"><a href="https://www.gov.uk/find-hmrc-contacts/technical-support-with-hmrc-online-services">Contact HMRC</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Jun 2025</b></td>
          <td class="govuk-table__cell">Standard</td>
          <td class="govuk-table__cell">18 Jul 2025</td>
          <td class="govuk-table__cell"><a href="#">View</a></td>
          <td class="govuk-table__cell">Unsuccessful</td>
          <td class="govuk-table__cell"><a href="#">Resubmit</a></td>


        </tr>
      </tbody>
    </table>
    <!-- <p class="govuk-body">
      <a class="govuk-link" href="/filing-a-return/construction-industry-scheme/return-history">View returns history</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-6"> -->
  </div>
  <!-- <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Help and guidance
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="https://www.gov.uk/what-is-the-construction-industry-scheme">
              What is the Construction Industry Scheme
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/guidance/cis-monthly-returns">
              CIS monthly returns guidance
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/cis-340">
              CIS 340: Penalties for late returns
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/guidance/construction-industry-scheme-cis-340-penalties-for-late-monthly-returns">
              Understanding CIS penalties
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div> -->
</div>

{% endblock %}