{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Would you like to add a worker? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Which worker do you want to add in your monthly return?
      </h1>
      <!-- <div class="govuk-inset-text">
        <p class="govuk-body">
          To add a worker to this list, or to remove one, <a href="#" class="govuk-link">select Manage your workers</a>.
        </p>
      </div> -->
      <!-- <p class="govuk-body">The workers listed below were included in the last monthly return you submitted. </p>
      <p class="govuk-body">If you do not want to include one or more of the workers, remove them.</p> -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Workers included in this return</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Workers</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BrightRight Business</th>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Norther Trade Ltd</th>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">TyneWear Ltd</th>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">
        Add workers
      </h2>
        <p class="govuk-body">Showing 1 to 10 of 50 results</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Workers to include in monthly return</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Add</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Verified</th>
            <th scope="col" class="govuk-table__header">Verification number</th>
            <th scope="col" class="govuk-table__header">Tax treatment</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="alice" name="workers" type="checkbox" value="alice">
                  <label class="govuk-label govuk-checkboxes__label" for="alice">
                    <span class="govuk-visually-hidden">Include Alice, A</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">Alice, A</th>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">V100000000009</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="bob" name="workers" type="checkbox" value="bob">
                  <label class="govuk-label govuk-checkboxes__label" for="bob">
                    <span class="govuk-visually-hidden">Include Bob, B</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">Bob, B</th>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">V100000000009</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="charles" name="workers" type="checkbox" value="charles">
                  <label class="govuk-label govuk-checkboxes__label" for="charles">
                    <span class="govuk-visually-hidden">Include Charles, C</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">Charles, C</th>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Not found</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="bRBusiness" name="workers" type="checkbox" value="BuildRight Business" {{ checked ('workers', "BuildRight Business") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="bRBusiness">
                    <span class="govuk-visually-hidden">Include BuildRight Business</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">BuildRight Business</th>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Not found</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nTL" name="workers" type="checkbox" value="Northern Trades Ltd" {{ checked ('workers', "Northern Trades Ltd") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="nTL">
                    <span class="govuk-visually-hidden">Include Northern Trades Ltd</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">Northern Trades Ltd</th>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Not found</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="TyneWear Ltd" name="workers" type="checkbox" value="TyneWear Ltd" {{ checked ('workers', "TyneWear Ltd") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="TyneWear Ltd">
                    <span class="govuk-visually-hidden">Include TyneWear Ltd</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">TyneWear Ltd</th>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">V100000000009</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="charles" name="workers" type="checkbox" value="charles">
                  <label class="govuk-label govuk-checkboxes__label" for="charles">
                    <span class="govuk-visually-hidden">Include Charles, C</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">Charles, C</th>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">V100000000009</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="bRBusiness" name="workers" type="checkbox" value="BuildRight Business" {{ checked ('workers', "BuildRight Business") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="bRBusiness">
                    <span class="govuk-visually-hidden">Include BuildRight Business</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">BuildRight Business</th>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Not found</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nTL" name="workers" type="checkbox" value="Northern Trades Ltd" {{ checked ('workers', "Northern Trades Ltd") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="nTL">
                    <span class="govuk-visually-hidden">Include Northern Trades Ltd</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">Northern Trades Ltd</th>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Not found</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="TyneWear Ltd" name="workers" type="checkbox" value="TyneWear Ltd" {{ checked ('workers', "TyneWear Ltd") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="TyneWear Ltd">
                    <span class="govuk-visually-hidden">Include TyneWear Ltd</span>
                  </label>
                </div>
              </div>
            </td>
            <th scope="row" class="govuk-table__header">TyneWear Ltd</th>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Not found</td>
            <td class="govuk-table__cell">Not found</td>
          </tr>
        </tbody>
      </table>
        <nav class="govuk-pagination" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      <form class="form govuk-!-margin-top-6" action="/filing-a-return/business-returns/path/of/next/page" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
