{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% block pageTitle %}
  Inactivity request – Business Returns Service prototype – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="inactivity-confirmation.html" method="post" novalidate>
        
        {{ govukRadios({
          name: "inactivity-request",
          fieldset: {
            legend: {
              text: "Do you want to submit an inactivity request?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p class='govuk-body'>You can submit an inactivity request to tell HMRC that you do not anticipate paying workers in the next six months.</p><p class='govuk-body'>If this request is accepted, you will not need to submit a monthly return.</p>"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukInsetText({
          text: "You must let HMRC know when you start to pay workers again by phoning the BRS Helpline. Telephone: 0300 200 3210."
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
