{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Sorry, there is a problem with this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, there is a problem with this service</h1>

      <p class="govuk-body">Try again later.</p>

      <p class="govuk-body">Any information you have provided has not been saved. When the service is available, you will have to start again.</p>


      <p class="govuk-body"><a href="/filing-a-return/business-returns/business-returns/guidance" class="govuk-link">Contact HMRC</a> for more help.</p>

       <p class="govuk-body">
      Back to <a href="/filing-a-return/business-returns/business-returns/sprint-25/brs-return-dashboard/LP-01-brs-return-dashboard" class="govuk-link" rel="Yesreferrer Yesopener" target="_blank">Manage your BRS account</a>.
    </p>
        
  </div>
</div>

{% endblock %}
