{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="You need to register to use this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, you are unable to use this service</h1>

      <p class="govuk-body">You need to register this account with the <a href="#" class="govuk-link">Business Returns Service</a> before you can use this service.</p>
        
  </div>
</div>

{% endblock %}
