{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Sorry, you are unable to use this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, you are unable to use this service</h1>

      <p class="govuk-body">To use this service, you will need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>register with the <a href="/filing-a-return/business-returns/business-returns/guidance" class="govuk-link">Business Returns Service</a> if you are a business or worker</li>
  <li>get access to <a href="/filing-a-return/business-returns/business-returns/guidance" class="govuk-link">PAYE for Agents</a> if you are an agent </li>
</ul>
  </div>
</div>

{% endblock %}
