{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Sorry, you are unable to use this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, you are unable to use this service</h1>

      <p class="govuk-body">Only users with an organisation or agent account can use this service.</p>
             <a href="/filing-a-return/business-returns/business-returns/guidance" class="govuk-link">More information about the Business Returns Service (BRS)</a> 

  </div>
</div>

{% endblock %}
