{% extends "filing-a-return/business-returns/layouts/main.html" %}

{% set pageName="Sorry, there is a problem with this service - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, there is a problem with this service</h1>

      <p class="govuk-body">Try again later.</p>

      <p class="govuk-body">Contact the <a href="https://www.gov.uk/find-hmrc-contacts/technical-support-with-hmrc-online-services" class="govuk-link">HMRC Online Services Helpdesk</a> if you need to speak to someone about [service_name] and quote the reference number: [JYM8CWI72FVXT5FQ].</p>

  </div>
</div>

{% endblock %}
