{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Business registration</h2>
    <p class="govuk-body">A new design for the personal details mismatch screen.</p>
    <p class="govuk-body"><a class="govuk-link" href="/personal-details-do-not-match">View the personal details page</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/change-of-personal-details">View the personal details page with the original content</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration-summary">View the registration summary page</a></p>
    <h2 class="govuk-heading-m">Business tax account</h2>
    <p class="govuk-body"><a class="govuk-link" href="/business-tax-account">View the business tax account page</a></p>
  </div>
</div>

{% endblock %}
