{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Filing a return</h2>
    <p class="govuk-body"><a class="govuk-link" href="/filing-a-return/business-returns/">View Business Returns Service</a></p>

    <h2 class="govuk-heading-m">Business registration</h2>
    <p class="govuk-body">Design options for checking personal details during business registration.</p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-do-not-match">View the personal details page</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/change-of-personal-details">View the personal details page with the original content</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-do-not-match-addresses">Personal details do not match – summary cards</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-do-not-match-option-2">Personal details do not match – option 2: cards for each detail</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-do-not-match-option-3">Personal details do not match – option 3: comparison table</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-match">Personal details match – summary cards</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/personal-details-match-earlier-design">Personal details match – earlier design with tables</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/change-registration-address">Change the registration address</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/registration-summary">Personal details registration summary</a></p>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/business-registration-summary">View the registration summary page</a></p>
    <h2 class="govuk-heading-m">Business tax account</h2>
    <p class="govuk-body"><a class="govuk-link" href="/business-registration/business-tax-account">View the business tax account page</a></p>
  </div>
</div>

{% endblock %}
