{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{%block header%}
<meta http-equiv="refresh" content="2; URL=https://cis-prototype-68106471f73b.herokuapp.com/sprint-14/monthly-returns/nil-monthly-return/mr-04-e-successful-submission.html">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="hods-loading-spinner" role="status">
        <div class="hods-loading-spinner__spinner"></div>
        <div class="hods-loading-spinner__content ">
          <h1 class="govuk-heading-m">
            Your submission is being sent to HMRC
          </h1>
          <p class="govuk-body">
            Do not refresh this page or press the back button while your submission is being processed.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
