{% extends "filing-a-return/layouts/main.html" %}

{% block pageTitle %}
  Contact details (optional) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-a-return/SL-02-05-work-type"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filing-a-return/SL-02-06-check-answers" method="post">

        <h1 class="govuk-heading-l">
          What is the name of the partnership?
        </h1>

       
        {{ govukInput({

          hint: {
            text: "This is the registered name of the partnership"
          },
          id: "name",
          name: "name",
          type: "text",
          autocomplete: "name",
          spellcheck: false
        }) }}

       

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
