{% extends "layouts/main.html" %}

{% set serviceName = "Business registration" %}
{% set serviceUrl = "/business-registration/personal-details-do-not-match" %}

{% block header %}
  {{ hmrcHeader({ homepageUrl: "/", signOutHref: "/business-registration/sign-out" }) }}
  {% set languageSelect %}
    {{ hmrcServiceNavigationLanguageSelect({
      language: "en",
      cy: { href: "?cy" }
    }) }}
  {% endset %}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    classes: "hmrc-service-navigation--with-language-select",
    slots: { end: languageSelect }
  }) }}
{% endblock %}
